<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="MenuMapper">
  
   <!--  조회한 컬럼과 DTO를 매핑시키기 위한 설정이다. -->
  	<resultMap id="menuResultMap" type="com.greedy.section01.xmlconfig.MenuDTO">
  		<id property="code" column="MENU_CODE"/>
  		 <result property="name" column="MENU_NAME"/>
  		 <result property="price" column="MENU_PRICE"/>
  		 <result property="categoryCode" column="CATEGORY_CODE"/>
  		 <result property="orderableStatus" column="ORDERABLE_STATUS"/>
  	</resultMap>
  	
  	<select id="selectAllMenu" resultMap="menuResultMap">
  		SELECT
  			   A.MENU_CODE
  			 , A.MENU_NAME
  			 , A.MENU_PRICE
  			 , A.CATEGORY_CODE
  			 , A.ORDERABLE_STATUS
  	      FROM TBL_MENU A
  	     WHERE A.ORDERABLE_STATUS = 'Y'
  	     ORDER BY A.MENU_CODE  		   	
  	 </select>
  	 
  	 <select id="selectMenuByCode" parameterType="_int" resultMap="menuResultMap">
  	 	SELECT
  	 		   A.MENU_CODE
  	 		 , A.MENU_NAME
  	 		 , A.MENU_PRICE
  	 		 , A.CATEGORY_CODE
  	 		 , A.ORDERABLE_STATUS
  	      FROM TBL_MENU A
  	     WHERE A.ORDERABLE_STATUS = 'Y'
  	       AND A.MENU_CODE = #{ code }  		   	
  	 </select>
  	 
  	 <insert id="insertMenu" parameterType="com.greedy.section01.xmlconfig.MenuDTO">
  	 	INSERT
  	 	  INTO TBL_MENU A
  	 	  (
  	 	    A.MENU_CODE
  	 	  , A.MENU_NAME
  	 	  , A.MENU_PRICE
  	 	  , A.CATEGORY_CODE
  	 	  , A.ORDERABLE_STATUS  
  	 	  ) 	
  	 	  VALUES
  	 	  (
  	 	    SEQ_MENU_CODE.NEXTVAL
  	 	  , #{ name }
  	 	  , #{ price }
  	 	  , #{ categoryCode }
  	 	  , 'Y'  
  	 	  )
  	 </insert>
  	 
  	 <update id="modifyMenu" parameterType="com.greedy.section01.xmlconfig.MenuDTO">
  	 	UPDATE
  	 		   TBL_MENU A
  	 	   SET
  		       A.MENU_NAME = #{ name }
  	 	     , A.MENU_PRICE = #{ price }
  	 	     , A.CATEGORY_CODE = #{ categoryCode }
  	 	     , A.ORDERABLE_STATUS
  	 	 WHERE A.MENU_CODE = #{ code }    
  	 	       	   		
  	 
  	 </update>
  	 
  	 <delete id="removeMenu" parameterType="com.greedy.section01.xmlconfig.MenuDTO">
  	 	DELETE
  	 		   TBL_MENU A
  	 	 WHERE A.MENU_CODE = #{ code }        	   		
  	 
  	 </delete>
  </mapper>